<div class="container mt-5">
  <div class="row">
      <div class="col-md-4 mb-4">
          <img src="assets/images/img1.jpeg" class="img-fluid fixed-size-img mb-5" alt="Image 1">
      </div>
      <div class="col-md-4 mb-4">
          <img src="assets/images/img2.jpeg" class="img-fluid fixed-size-img mb-5" alt="Image 2">
      </div>
      <div class="col-md-4 mb-4">
          <img src="assets/images/img3.jpeg" class="img-fluid fixed-size-img mb-5" alt="Image 3">
      </div>
      <div class="col-md-4 mb-4">
          <img src="assets/images/img4.jpeg" class="img-fluid fixed-size-img mb-5" alt="Image 4">
      </div>
      <div class="col-md-4 mb-4">
          <img src="assets/images/img5.jpeg" class="img-fluid fixed-size-img mb-5" alt="Image 5">
      </div>
      <div class="col-md-4 mb-4">
          <img src="assets/images/img6.jpeg" class="img-fluid fixed-size-img mb-5" alt="Image 6">
      </div>
  </div>
</div>
